[Desktop Entry]
Type=Application
Name=Log book
Icon=icon-launcher-mad-developer
Exec=sailfish-qml harbour-logbook
X-Nemo-Application-Type=silica-qt5
Comment=Browse Buteo sync logs

[X-Sailjail]
Permissions=Accounts;Calendar;Email;Privileged;Synchronization
